BasedOnStyle: Chromium
AlignAfterOpenBracket: BlockIndent
BinPackParameters: false
BinPackArguments: false
ContinuationIndentWidth: 2
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Never
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
